
body {
    font-family: "Century Gothic", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(180deg, #222122 0%, #000 50%, #000 100%);
    color: white;
    padding: 1em;
    border-bottom: 2px solid #eca14f;
}

.flex-container-header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
}

.flex-box {
    /*background-color: green; */     /*<----uncomment to see container borders */
    width: 49%;
    flex-wrap: wrap;
}

.name-heading-container{
    min-width: 360px; 
}

/* keep these colors in case of a need, kinda fiery when used in a gradient : ff5733, ffcc33*/

.name-heading {
    font-family: "Century Gothic", sans-serif;
    font-size: 2.7em;
    font-weight: normal;
    margin: 25px 0 -2em 0; /*top right bottom left */
    background: linear-gradient(180deg, #5f401f 0%, #eca14f 50%, #5f401f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-container {
    min-width: 450px;
}
nav {
    /*background-color: grey;*/    /*<---- uncomment to see container borders*/
    text-align: right;
    margin: 50px 0 -2em 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

.nav-element {
    display: inline;
    font-size: 1.6em;
    margin-right: 0.5em;
    background: linear-gradient(180deg, #5f401f 0%, #eca14f 50%, #5f401f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-element:hover {
    -webkit-text-fill-color: solid;
    color: #5f401f;
}

.current-page {
    border: 1px solid #7c562c;
    border-top: none;
}

.not-current-page {
    border: 1px transparent;
}

.navlink {
    margin: 0 .5em 0 .5em;
    font-family: "Century Gothic", sans-serif;
}

main {
    padding: 2em;
    background: linear-gradient(45deg, #0e0c11 0%, #0e0c11 20%, #221e29 100%);
    min-height: 750px;
    color: #e2e2e2;
}

.welcome-section{
    text-align: center;
    color: #fff;
}

.entry-message{
    padding: 25vh 0 35vh 0;
}

button {
   margin-bottom: 2em;
}
.projects-section {
    border-top: 1.5px solid #eca14f;
    text-align: center;
}

.projects-heading {
    margin-top: 2em;
}
/*c------------------------------carousel stuff------------------------*/

.carousel {
    width: 100%;
    height:50vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255,255,255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0,0,0,.2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}


.project {
    background: linear-gradient(45deg,#222222 0%, #000 30%, #2a2a2a 100%);
    margin: 5em 0.5em 0 0.5em;
    padding: 0 auto;
    width: 42%;
    height: 65%;
    display: inline-block;
    position: center;
    border: 3.5px solid #eca14f;
    border-radius: 0.5em 0.5em 1em 4em;
    overflow: hidden; /*To prevent the images from interfering with the other project blocks*/
    color: white;
}

.project:hover {
    border: 3.5px solid #fa8202;
    color: white;
}

.project:visited {
    color:white;
}

.project:active {
    background: linear-gradient(45deg,#323232 0%, #101010 30%, #3a3a3a 100%);
    color: #eca14f;
}

.project-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: top;
}

.company-database-img {
    object-position: center;
}

.project-link {
    text-decoration: none; /*removes unwanted underline*/
}

/*---------------------------------------------------------------------------*/
.circle-image {
    width: 300px;
    height: 300px;
    border-radius: 30%;
    object-fit: cover;
    overflow: hidden;
}

footer {
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
}