body {
    font-family: "Century Gothic", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: white;
    padding: 1em;
    border-bottom: 2px solid #eca14f;
}

.flex-container-header {
 display: flex;
 justify-content: space-between;
}

.flex-box {
    /*background-color: green; */     /*<----uncomment to see container borders */
    width: 49%;
}

.name-heading-container{
    min-width: 387px; 
}

/* keep these colors in case of a need, kinda fiery when used in a gradient : ff5733, ffcc33*/
.name-heading {
    font-family: "Century Gothic";
    font-size: 3em;
    font-weight: normal;
    margin: 15px 0 -2em 0; /*top right bottom left */
    background: linear-gradient(180deg, #5f401f 0%, #eca14f 50%, #5f401f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-container {
    min-width: 280px;
}
nav {
    /*background-color: grey;*/    /*<---- uncomment to see container borders*/
    text-align: right;
    margin: 50px 0 -2em 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

main {
    padding: 2em;
    background-color: #1a1a1a;
    min-height: 750px;
}

.circle-image {
    width: 300px;
    height: 300px;
    border-radius: 30%;
    object-fit: cover;
}

footer {
    background-color: #771818;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
}